.play-wrapper {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.game-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.matrix-container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
 
  
  margin: 0 auto;
 
}

.matrix-row {
  display: block;
 

}

.cell {
  width: 30px;
  height: 30px;
  
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #000;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Xwins{
  
    background-color: #11ff00; 
    color: #ffffff; 
    padding: 10px; 
    font-size: 20px; 
    text-align: center; 
    font-weight: bold; 
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .Owins{
  
    background-color: #11ff00; 
    color: #ffffff; 
    padding: 10px; 
    font-size: 20px; 
    text-align: center; 
    font-weight: bold; 
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .Gameover{
  
    background-color: #ff0000; 
    color: #ffffff; 
    padding: 10px; 
    font-size: 20px; 
    text-align: center; 
    font-weight: bold; 
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
